<div class="widget-river">
  <h1 class="widget-title"><span><i class="un-icon-product_type_report widget-title--icon"></i>{{{adjustedTitle}}}</span></h1>
  <header class="widget-river--header">
    <h1 class="widget-river--title">I want content from</h1>
    <select>
      <option value="weeks" >This week</option>
      <option value="months">This month</option>
      <option value="years">This year</option>
    </select>
  </header>
  <div class="widget-river--results clearfix">
    <div class="widget-river--results--graph">
      <ul class="widget-river--results-tabs clearfix">
        {{#content}}
        <li class="widget-river--results--item">
          <span class="widget-river--results--number">{{count}}</span>

          <div class="widget-river--results--type">
            <span class="{{icon}}"></span>
            {{title}}
          </div>
        </li>
        {{/content}}
      </ul>
      <div class="placeholder">
        <p class="graph--heading"></p>
        <svg id="chart"></svg>
      </div>
    </div>
    <div class="widget-river--filters">
      <h5 class="widget-river--filters--title">Filter Results:  <span class="tab">Reports</span> <span class="close"></span></h5>
      <ul></ul>
    </div>
  </div>
</div>
