<div class="widget-river">
  <header class="widget-river--header">
    <h1 class="widget-river--title">I want content from</h1>
    <select>
      <option>This week</option>
      <option>This month</option>
      <option>This year</option>
    </select>
  </header>
  <div class="widget-river--results clearfix">
    <div class="widget-river--results--graph">
      <ul class="widget-river--results-tabs clearfix">
        <li class="widget-river--results--item">
          <span class="widget-river--results--number">1,332</span>

          <div class="widget-river--results--type">
            <span class="un-icon-product_type_report"></span>
            Reports
          </div>
        </li>
        <li class="widget-river--results--item">
          <span class="widget-river--results--number">314</span>

          <div class="widget-river--results--type">
            <span class="un-icon-activity_deployment"></span>
            Maps + Infographics
          </div>
        </li>
        <li class="widget-river--results--item">
          <span class="widget-river--results--number">42</span>

          <div class="widget-river--results--type">
            <span class="un-icon-product_type_map"></span>
            Jobs
          </div>
        </li>
      </ul>
      <div class="placeholder">

        <p class="graph--heading">Week of January 5, 2015</p>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="58.5 102.8 760 421.7" enable-background="new 58.5 102.8 760 421.7" xml:space="preserve">
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="99" y1="501.2" x2="99" y2="108.3"/>
<text transform="matrix(1 0 0 1 82.9038 519.9932)" fill="#8C8E93"  font-size="10.5432">5 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="201.3" y1="501.2" x2="201.3" y2="108.3"/>
<text transform="matrix(1 0 0 1 184.9966 519.9932)" fill="#8C8E93"  font-size="10.5432">6 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="302.7" y1="501.2" x2="302.7" y2="108.3"/>
<text transform="matrix(1 0 0 1 285.3296 519.9932)" fill="#8C8E93"  font-size="10.5432">7 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="404" y1="501.2" x2="404" y2="108.3"/>
<text transform="matrix(1 0 0 1 387.6631 519.9932)" fill="#8C8E93"  font-size="10.5432">8 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="505.3" y1="501.2" x2="505.3" y2="108.3"/>
<text transform="matrix(1 0 0 1 489.9961 519.9932)" fill="#8C8E93"  font-size="10.5432">9 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="606.7" y1="501.2" x2="606.7" y2="108.3"/>
<text transform="matrix(1 0 0 1 586.9932 519.9932)" fill="#8C8E93"  font-size="10.5432">10 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="708" y1="501.2" x2="708" y2="108.3"/>
<text transform="matrix(1 0 0 1 688.3262 519.9932)" fill="#8C8E93"  font-size="10.5432">11 JAN</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="810.3" y1="501.2" x2="810.3" y2="108.3"/>
<path fill="#8C8E93" d="M100,501L100,501h710.4l0,0"/>
<g transform="translate(0,450)">
  <line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="51" x2="810.4" y2="51"/>
</g>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="444.8" x2="810.4" y2="444.8"/>
<text transform="matrix(1 0 0 1 73.3262 448.59)" fill="#8C8E93"  font-size="12">0%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="388.5" x2="810.4" y2="388.5"/>
<text transform="matrix(0.9367 0 0 1 66.6524 392.3398)" fill="#8C8E93"  font-size="12">20%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="332.2" x2="810.4" y2="332.2"/>
<text transform="matrix(0.9367 0 0 1 66.6524 336.0898)" fill="#8C8E93"  font-size="12">40%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="276" x2="810.4" y2="276"/>
<text transform="matrix(0.9367 0 0 1 66.6524 279.8398)" fill="#8C8E93"  font-size="12">60%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="219.8" x2="810.4" y2="219.8"/>
<text transform="matrix(0.9367 0 0 1 66.6524 223.5898)" fill="#8C8E93"  font-size="12">80%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="163.5" x2="810.4" y2="163.5"/>
<text transform="matrix(0.9367 0 0 1 66.6524 167.3398)" fill="#8C8E93"  font-size="12">100%</text>
<line fill="none" stroke="#DDDDDD" stroke-miterlimit="10" x1="98.5" y1="107.2" x2="810.4" y2="107.2"/>
<path fill="none" class="graph-maps" stroke-width="6" stroke-miterlimit="10" d="M100,444.8l50.7-33.8l50.7-56.2L252,366l50.7-45
  l50.7,13.8l50.7,93.8l50.7-56.2l50.7-11.2l50.7-45l50.7-78.8l50.7,56.2L708,271l50.7-45l50.7-35"/>
<path fill="none" class="graph-jobs" stroke-width="6" stroke-miterlimit="10" d="M100,233.5l50.7-22.5l50.7,185l50.7-95l50.7,22.5
  l50.7-56.2L404,346l50.7,45l50.7,11.2l50.7,56.2l50.7-73.8l50.7-13.8l50.7-55l50.7-11.2l50.7,56.2"/>
<path fill="none" class="graph-reports" stroke-width="6" stroke-miterlimit="10" d="M809.3,214.8L758.7,271L708,259.8l-50.7-55
  L606.7,361L556,227.2l-50.7,56.2l-50.7,11.2l-50.7,45l-50.7,48.8l-50.7-116.2L252,254.8l-50.7-35l-50.7,125L100,322.2"/>
</svg>


      </div>
    </div>
    <div class="widget-river--filters">
      <h5>Filter Results <span class="close"></span></h5>
      <ul>
        <li><a href="">Sitreps</a></li>
        <li><a href="">Needs Assessments</a></li>
        <li><a href="">Education</a></li>
        <li><a href="">Emergency Shelter</a></li>
        <li><a href="">Emergency Telecommunications</a></li>
        <li><a href="">Food Security</a></li>
        <li><a href="">Health</a></li>
        <li><a href="">Logistics</a></li>
        <li><a href="">Nutrition</a></li>
        <li><a href="">Protection</a></li>
      </ul>
    </div>
  </div>
</div>
