<div class="widget-river">
  <header class="widget-river--header">
    <h1 class="widget-river--title">I want content from</h1>
    <select>
      <option value="weeks" >This week</option>
      <option value="months">This month</option>
      <option value="years">This year</option>
    </select>
  </header>
  <div class="widget-river--results clearfix">
    <div class="widget-river--results--graph">
      <ul class="widget-river--results-tabs clearfix">
        {{#content}}
        <li class="widget-river--results--item">
          <span class="widget-river--results--number">{{count}}</span>

          <div class="widget-river--results--type">
            <span class="{{icon}}"></span>
            {{title}}
          </div>
        </li>
        {{/content}}
      </ul>
      <div class="placeholder">
        <p class="graph--heading">Week of January 5, 2015</p>
        <svg id="chart"></svg>
      </div>
    </div>
    <div class="widget-river--filters">
      <h5>Filter Results <span class="close"></span></h5>
      <ul></ul>
    </div>
  </div>
</div>
