<li class="filters-content--item">
  <div class="filters-content--item-date">{{item_date}}</div>
  <h3 class="filters-content--item-title">{{item_title}}</h3>
  <div class="filters-content--item-source">{{item_source}}</div>
</li>